@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: #08090a;
  /* background-color: #000; */
  font-family: "Geist", sans-serif;
}

.dropdown-item:hover{
  background-color: rgba(128, 128, 128, 0.219);
}
.dropdown-item:hover .dropdown-item-img{
  background-color: rgba(128, 128, 128, 0.301);
}

details, summary, svg {
  background-color: transparent !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

/* Company logos slider */
@keyframes logo-slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-logo-slider {
  animation: logo-slider 12s linear infinite;
}

/* Happy clients slider 1 */
@keyframes client-slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-client-slider {
  animation: client-slider 16s linear infinite;
}

/* Happy clients slider 2 */
@keyframes client-slider-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-client-slider-reverse {
  animation: client-slider-reverse 16s linear infinite;
}
