@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: #08090a;
  font-family: "Geist", sans-serif;
}

/* logo slider */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.infinite-slider {
  animation: scroll 100s linear infinite;
}
